<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg">
        <h3>爱好:</h3>
        <input type="checkbox" v-model="hobby" value="篮球">篮球
        <input type="checkbox" v-model="hobby" value="足球">足球
        <input type="checkbox" v-model="hobby" value="排球">排球
        <br>
        <input type="radio" v-model = "sex" value="男">男
        <input type="radio" v-model = "sex" value="女">女

        <br>
        <select>
            <option value="黑大" v-model = "school">黑大</option>
            <option value="理工" v-model = "school">理工</option>
            <option value="林大" v-model = "school">林大</option>
        </select>
    </div> 

    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                msg:"lao",
                hobby:["篮球"], 
                sex:"男",
                school:"黑大"
            }
        })


    </script>
</body>
</html>